.user {
  text-align: center;
  padding: 1rem;
}

.user img{
  max-width: 500px;
  max-height: 500px;
}

.user-info{
  display: inline-block;
  text-align: left;
  padding: 1rem;
}

.user-info .subheading {
  font-weight: bold;
  padding-right: 10px;
}