.user {
  text-align: center;
  padding: 1rem;
}

.user img{
  max-width: 500px;
  max-height: 500px;
}

.user h2 {
  font-size: 1.5rem;
}

.user-info{
  display: inline-block;
  text-align: left;
  padding: 1rem;
}

.user .subheading {
  font-weight: bold;
  padding-right: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 2fr));
  grid-template-areas: 
  "f f c c"
}

.fav-doctors {
  grid-area: f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.fav-doctors h2 {
  display: inline-block;
  text-align: center;
  width: 20rem;
  padding: .5rem;
}

.fav-doctors ul {
  display: inline-block;
  text-align: center;
  width: 20rem;
}

.fav-doctors h5 {
  padding-bottom: .5rem;
}

.all-comments{
  grid-area: c;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.all-comments h2 {
  display: inline-block;
  text-align: center;
  width: 30rem;
  padding: .5rem;
}

.user-comments {
  display: inline-block;
  text-align: left;
  width: 30rem;
}

.each-comment {
  padding-bottom: 1rem;
}